body{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #f6f6f6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 480px)
{
    body{
        overflow-x: hidden;
    }
    .logo{
        width: 20%;
        height: 15%; 
      }
      .logo img{
      margin-left: 2%;
      width: 110%;
      }
    .navbar{
        width: 100%;
      }
      .navbar .nav-links p{
        font-size: 1.8vw;
        margin: 0px 10px;
        }
        .alaune img{
          width: 100%;
          height: 500px;
        }
    .photo{
        margin-top: 5%;
    }
    .photo img{
        width: 60%;
    }
    .photo p{
       font-size: 2.5vw;
    }
    .marque{
      height: 90px;
      width: 90%;
      margin: 2% auto;
    }
    .marque img{
      height: 85%;
      width: 15%;
    }
    .entry {
      width: 200px;
      height: 240px;
      margin: 1em;
      padding: 0.5em;
    }
    .entry img{
      width: 55%;
    }
     @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(calc(-100% + (2 * 490px)));
    }
  }
}
@media screen and (min-width: 1024px)
{   
    body{
        overflow-y:auto;
    }
    .logo{
        width: 20%;
        height: 100%;
    }
    .logo img{
      width: 70%;
    }
    .navbar{
        height: 130px;
        width: 100%;
      }
      .navbar .nav-links p{
        font-size: 1.5vw;
        margin: 0 20px;
      }
      .nav-links p{
        height: 19%;
      }
      .page{
        width: 100%;
      }
      .alaune img{
        width: 100%;
      }
    .photo{
        margin-top: 5%;
        padding: 0 10% 0 10%;
        display: flex;
        justify-content: space-between;
    }
    .photo img{
        width: 90%;
    }
    .photo p{
       font-size: 1vw;
    }
    .alaune{
      width: 100%;
      height: 650px;
    }
    .alaune img{
      height: 99%;
      width: 100%;
    }
    .entry {
      width: 280px;
      height: 320px;
      margin: 1em;
      padding: 0.5em;
    }
    .entry img{
      width: 55%;
    }
    .trait{
      margin-top: 10%;
      width: 85%;
      height: 0.3px;
    }
    .marque{
      height: 130px;
      width: 90%;
      margin: 2% auto;
    }
    .marque img{
      height: 85%;
      width: 15%;
    }  
}

@keyframes mon_anim {
    0%{
        transform: translateY(-10vh);
        opacity: 0;
      -webkit-transform-origin: center center;
      -webkit-transform: scale(1, 1);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
  }
.page
{
    position: relative;
    animation-name: mon_anim;
    animation-duration: 1000ms;
    animation-delay: 5ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    margin: 0 auto;
	margin-top: 20% !important;
}


.items {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: carouselAnim 5s infinite alternate linear;
}
.items a{
  color: black;
  text-decoration: none;
}
.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 10px;
}
.entry img{
  width: 90%;
  height: 90%;
  border-radius: 5%;
}
.entreimage{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: #fff;
  width: 168px;
  height: 160px;
}

.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}
.container2 a{
  color: black;
 text-decoration: none;
}

.card{
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  padding: 1rem;
  width: 280px;
  height: 400px;
  margin-top: 10%;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.55);

}
.card-title{
  width: 50%;
  font-size: 1.2rem;
  font-family:math;
  font-style: italic;
}
.card-content{
    align-items: center;
    display: flex;
    justify-content: center; 
    height: 15rem;
    width: 15rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,5,57,1) 35%);
    border-radius: 50%;
    margin: 0 auto;
}
.card-content img{
  width: 100%;
  margin-top: -20%;
  margin-left: 15%;
}
.card-price{
  margin-top: 10%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.card-price img{
  background-color: rgba(105,5,57,1);
  padding: 2%;
  border-radius: 15%;
}